html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(185, 240, 241);
    box-sizing: border-box;
    font-size: 16px;
}

h2 {
    font-size: 1.2rem;
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 100%;
    column-gap: 30px;
    row-gap: 30px;
    padding: 10px;
}

.book-card {
    display: flex;
    background-color: rgb(255, 213, 0);
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}

.book-card button {
    height: auto;
    width: 30%;
    align-self: center;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }

  